<!doctype html>
<html>
<title>{{ticker.code}} Analytics</title>
<head>
   <link href="{{ url_for("static", filename="css/bootstrap.min.css") }}" rel="stylesheet">
</head>
<body>
    <div class="container">
            <h1 class="font-weight-bold">{{ticker.code}}</h1>
            <h2 class="center">{{ticker.name}} <br>
            <small class="text-muted font-monospace">
                Delta value = {{value}}
            </small></h2>
            <div class='container'>
                    <a href="/{{ticker.code}}" class="mx-auto">Back to {{ticker.name}} historical</a>
            </div>
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>Date from</th>
                    <th>Date to</th>
                </tr>
            </thead>
            <tbody>
            {% for date in dates %}
                <tr>
                    <td>{{date[0]}}</td>
                    <td>{{date[1]}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
