<!doctype html>
<html>
<title>{{ticker.code}} ticker</title>
<head>
        <link href="{{ url_for("static", filename="css/bootstrap.min.css") }}" rel="stylesheet">
</head>
<body>

<div class="container">
<h1 class="font-weight-bold">{{ticker.code}}</h1>
<h2 class="center">{{ticker.name}} 
<small class="text-muted font-monospace"> 
    Common Stock Historical Stock Prices
</small></h2>
<a href="/{{ticker.code}}/insider" class="mx-auto">Click to Insider trades of {{ticker.name}}</a>
<table class="table table-striped table-hover table-bordered">
<thead>
    <tr>
        <th>Date</th>
        <th>Open</th>
        <th>High</th>
        <th>Low</th>
        <th>Close</th>
        <th>Volume</th>
    </tr>
    
</thead>
<tbody>
{% for price in prices %} 
    <tr>
        <td>{{price.date}}</td>
        <td>{{price.open}}</td>
        <td>{{price.high}}</td>
        <td>{{price.low}}</td>
        <td>{{price.close}}</td>
        <td>{{price.volume}}</td>
    </tr>
{% endfor %}
</tbody>
</table>
</div>
</body>
</html>